{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol lightBg">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://github.com/drawingcircles"><img src="{% static 'images/Octocat.png' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/ranilomybokaj/"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        {% comment %} <li><a href="javascript:void(0)"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li> {% endcomment %}
        <li><a href="https://www.linkedin.com/in/jake-molinar/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://jamesgrangerdesign.co.uk/" target="_blank">James Granger Design</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->